<!-- Start Footer bottom Area -->
<footer class="footer1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                              <a href="/">Trust<span style="color:#1AA15F">Tech</span></a>
                            </div>
                            <p>
                                Are you looking for custom made devices for your homes, offices and factories? We are here to help you run a smooth home, offices, or business with smart, custom made devices.
                            </p>
                            <!-- <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                    <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>ACS Devices Available</h4>
                            <ul class="footer-list">
                              <li><a href="#">Single-Phase 120AMPs</a></li>
                              <li><a href="#">Single-Phase 120AMPs Series-B</a></li>

                            </ul>
                            <ul class="footer-list hidden-sm">
                              <li><a href="#">Three-Phase 120AMPs</a></li>
                              <li><a href="#">Three-Phase 125AMPs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Information</h4>
                            <div class="footer-contacts">
                              <p><span>Tel :</span> +234-8060221416</p>
                              <p><span>Email :</span> trusttechnology4@gmail.com</p>
                              <p><span>Location : </span>5, Personal Trust Crescent, Lakeview Phase 2 Estate, Amuwo Odofin, Lagos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © <span id="date"></span>
                            <a href="/">TrustTech</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    let get_current_date = new Date().getFullYear();
    let footer_date = document.getElementById("date")
    footer_date.innerHTML = get_current_date;
</script>
